<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/signup.css">
    <title>Document</title>
</head>

<body>
    <div class="wrapper">
        <form action="/api/user/otp" method="post">
            <h1>OTP VERIFICATION</h1>

            <div class="input-wrapper">
                <input type="text" placeholder="enter otp" name="otp" class="input" required>
            </div>
            <div class="btn"> <button type="submit">VERIFY</button></div>
            <div class="registerlink">

            </div>
        </form>
    </div>
</body>

</html>