<div class="delete-data card rounded-4" id="deleteForm">
    <div class="delete">
        <h3 class="mt-4 ms-3">Delete Employee</h3>
        <button class="close-btn delete-close-btn" onclick="deleteFormclose()"><i
                class="fa-solid fa-xmark"></i></button>
    </div>
    <div class="para mt-3">
        <p>Are you sure you want to delete this employee?</p>
    </div>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-3 ">
        <button class="btn btn-light me-md-2 me-3" type="button" onclick="deleteFormclose()">Cancel</button>
        <button class="delete-btn btn-primary me-3 " id="conformDelete" type="click">Delete</a></button>
    </div>
</div>