<div class="header d-flex ">
    <div class="head-portion mt-3 p-3">
        <p class="ps-0">Dashboard/Employees</p>
        <h4>Employees</h4>
    </div>
    <div class="search_bar d-flex justify-content-between p-3">

        <div class=" search mb-2 ">
            <div class="search-icon"><i class="fa-solid fa-magnifying-glass"></i></div>
            <input class="search-function form-control ps-4 " type="search" id="searchInput" placeholder="Search"
                aria-label="Search">
        </div>
        <span class="icon"><i class="fa-regular fa-bell"></i></span>
        <img src="image/Avatar Style 6.png" alt="">
    </div>
</div>