<div class="side_menu">
    <div class="head pt-4">
        <h4 class=""> Employee</h4>
        <p class="mb-3">Management</p>
    </div>
    <div class="nav_menu mt-4">
        <ul>
            <li><a href=""><i class="fa-solid fa-house"></i>Dashboard</a></li>
            <li><a href=""><i class="fa-solid fa-chart-simple"></i>Employee</a></li>
            <li><a href=""><i class="fa-solid fa-user"></i>Profile</a></li>
            <form action="/api/user/logout" method="get"><li><button class="logout"><i class="fa-solid fa-lock"></i>LOG OUT</button></li></form>
        </ul>
    </div>
    <div class="footer mb-3">
        <p>Powered By</p>
        <img src="image/image 1.png" alt="">
    </div>
</div>